# Ignore development files and directories
node_modules
.next
out

# Ignore build artifacts
build
dist

# Ignore environment-specific files
.env
.env.local
.env.*.local
.env.test
.env.production
.env.development

# Ignore version control files
.git
.gitignore

# Ignore package manager files
yarn.lock
package-lock.json
