# Optional
CACHE_ENABLED=false
TRIP_PUBLISHED_ONLY=true
FRONTEND_DEBUG_MODE=false
MAINTENANCE_MODE=false

# Required
N_TOK=ntn_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TRAVEL_PID=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
PHOTOS_DS_ID=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
TRIPS_DS_ID=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
OPS_SECRET=xxxxxxxxxxx
PAM_URL=https://xxx.xxxxxxx.com
